<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
  </system.webServer>
	<system.serviceModel>

		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ISSOEmployee">
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="Certificate" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>

		<client>

			<endpoint address="https://integration.ksu.edu.sa/SSOEmployee/SSOEmployee.svc"
			  behaviorConfiguration="customBehavior" binding="basicHttpBinding"
			  bindingConfiguration="BasicHttpBinding_ISSOEmployee" contract="SSOEmployeeRef.ISSOEmployee"
			  name="BasicHttpBinding_ISSOEmployee" />

		</client>

		<behaviors>
			<endpointBehaviors>
				<behavior name="customBehavior">
					<clientCredentials>
						<clientCertificate findValue="services-p.ksu.egov" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My"/>
						<serviceCertificate >
							<authentication certificateValidationMode="ChainTrust"/>
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>

	</system.serviceModel>
<system.web>
	<customErrors mode="RemoteOnly" defaultRedirect="/Login.cshtml"/>
  </system.web>

</configuration>